# Ignore all files and directories by default.
# Dotfiles differ per system due to different applications, so
# configurations should be explicitly included in the repository,
# rather than unwanted files being explicitly excluded by default.
/*

# Repository
!.gitignore
!README.md

# Tools
!.zshrc
!/aerospace
!/alacritty
!/nvim
!/starship
!/tmux
/tmux/plugins
!/zed/**/*.json
!zsh

# Misc. files
*.DS_Store
