# Ignore all files and directories by default.
# Dotfiles differ per system due to different applications, so
# configurations should be explicitly included in the repository,
# rather than unwanted files being explicitly excluded by default.
/*

# Repository
!.gitignore
!.gitmodules
!README.md

# Tools
!.zshrc
!/aerospace
!/alacritty
!/eza
!/hypr
/hypr/hyprpaper.conf
!/lazygit
!/nvim
!/starship
!/tmux
!/waybar
!/zed/**/*.json
!zsh

# Misc. files
*.DS_Store
