* {
    font-family: CaskaydiaMono Nerd Font;
    font-size: 16px;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: .25s;
}

window#waybar {
    background-color: rgba(35, 33, 54, 0.75);
    border-style: solid;
    border-width: 2px;
    border-color: #f773eb;
    border-radius: 10px;
}

window#waybar .horizontal {
    padding: 1px 4px;
}

#workspaces {
    margin: 0 16px;
}

#workspaces button {
    padding: 2px;
    background-color: transparent;
    color: #e0def4;
    border: 2px solid transparent;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    border-color: #3b3b3b;
}

#workspaces button.urgent {
    background-color: #f773b1;
}

#battery,
#clock,
#cpu,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#network,
#power-profiles-daemon,
#pulseaudio,
#submap,
#tray,
#custom-media,
#custom-notification,
#custom-power {
    padding: 0 10px;
    color: #e0def4;
}

#custom-power {
    font-size: 22px;
    padding-right: 2px;
}

#idle_inhibitor {
    padding-left: 4px;
    padding-right: 20px;
}

#cpu {
    padding-right: 0;
}

#pulseaudio {
    padding-right: 2px;
}

#network {
    padding-right: 4px;
}

#keyboard-state {
    padding-right: 0;
}

#language {
    padding-left: 0;
    padding-right: 4px;
}

#custom-notification {
    font-size: 18px;
    padding: 0 4px 2px 4px;
}
